[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/ubuntu/samplejango
ExecStart=/home/ubuntu/samplejango/antenv/bin/gunicorn --workers 3 --bind unix:samplejango_app.sock jango1.wsgi:application

[Install]
WantedBy=multi-user.target